<h1>all articles from one categorie</h1>

{{#entries}}
	<div>
		<ul>
			<li>{{title}}
				<ul>
					<li>Category: {{name}}</li>
					<li>Description: {{Description}}</li>
					<li>Price: {{Price}}€</li>
					<li>Email: {{Email}}</li>
				</ul>
			</li>
		</ul>
	</div>
{{/entries}}
</ul>