<h1>all articles from all categories</h1>

{{#entries}}
	<div>
		<ul>
			<li><strong>{{title}}</strong>
				<ul>
					<li>ID: {{id}}</li>
					<li>Category: {{name}}</li>
					<li>Description: {{Description}}</li>
					<li>Price: {{Price}}€</li>
					<li>Email: {{Email}}</li>
				</ul>
			</li>
		</ul>
	</div>
{{/entries}}