<h1>article Details</h1>


{{#entry}}
	<div>
		<ul>
			<li><strong>{{title}}</strong>
				<ul>
					<li>{{id}}</li>
					<li>Category: {{name}}</li>
					<li>Description: {{Description}}</li>
					<li>Price: {{Price}}€</li>
					<li>Email: {{Email}}</li>
				</ul>
			</li>
		</ul>
	</div>
{{/entry}}