<div class="container">

  <div class="row">
    <div class="col-lg-12 heading-primary">
      <h2>
        <span>ALL ARTICLES</span>
      </h2>
      <a class="btn btn-dark btn--back" href="/add" role="button">
        <i class="material-icons medium">add_circle_outline</i>
        <span>ADD ARTICLE</span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 search">
      <form action="/list" action="post" class="form-inline">
        <div class="form-group mx-sm-3 mb-2 search--wrap">
          <input type="text" class="form-control" name="search" id="search" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>
      {{#if isSearching}}
        <p>Searching for: {{ query }}</p>
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
        {{#each articles as |article id|}}
          <div class="article">
            <ul class="">
              {{#article}}
                <h5 class="title"> <a href="/view/{{id}}">VIEW</a> {{title}}</h5>
                <p class="teaser">{{teaser}}</p>
                <p class="release"><i class="material-icons small">date_range</i> {{release}}</p>
              {{/article}}
            </ul>
          </div>
        {{/each}}
    </div>
  </div>

</div>