<div class="container">

  <div class="row">
    <div class="col-lg-12 heading-primary">
      <h2>
        <span>VIEW ARTICLE #{{ article.id }}</span>
      </h2>
      <a class="btn btn-dark btn--back" href="/" role="button">
        <i class="material-icons medium">chevron_left</i>
        <span>BACK</span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <ul class="article--view">
        <li class="title">{{ article.title }}</li>
        <li class="teaser">{{ article.teaser }}</li>
        <li class="text">{{ article.text }}</li>
        <li class="author"><i class="material-icons small">person</i> {{ article.author }}</li>
        <li class="release"><i class="material-icons small">date_range</i> {{ article.release }}</li>
      </ul>
    </div>
  </div>

</div>